.feedback-image {
    text-align: center;
    margin-top: 30px;
}
.single-feedback-box {
    text-align: center;
    position: relative;
    margin-top: 25px;
    z-index: 1;

    p {
        margin-bottom: 0;
        color: #606060;
        font-size: 19px;
    }
    .info {
        margin-top: 25px;
        text-align: start;

        img {
            height: 55px;
            margin-right: 7px;
            border-radius: 50%;
            width: 55px !important;
            display: inline-block !important;
        }
        .title {
            margin-left: 7px;

            h3 {
                margin-bottom: 5px;
                color: var(--mainColor);
                font: {
                    size: 17px;
                    weight: 700;
                };
            }
            p {
                color: #606060;
                font-size: 14px;
            }
        }
    }
    &::before {
        position: absolute;
        color: #e3e3e3;
        content: "\f10e";
        line-height: 1;
        opacity: 0.8;
        left: -70px;
        z-index: -1;
        opacity: .5;
        top: -35px;
        font: {
            family: Flaticon;
            size: 110px;
        };
    }
}

@media only screen and (max-width: 767px) {

    .single-feedback-box {
        p {
            font-size: 15px;
        }
        .info {
            margin-top: 20px;

            .title {
                h3 {
                    font-size: 16px;
                }
            }
        }
        &::before {
            left: 0;
            opacity: .4;
            font-size: 95px;
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-feedback-box {
        p {
            font-size: 16.5px;
        }
        &::before {
            left: 0;
            opacity: .4;
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-feedback-box {
        p {
            font-size: 16px;
        }
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1275px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

@media only screen and (min-width: 1550px) {}