.subscribe-area {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.subscribe-content {
    text-align: center;
    max-width: 720px;
    margin: {
        left: auto;
        right: auto;
    };
    .sub-title {
        display: block;
        font-weight: 500;
        margin-bottom: 8px;
        color: var(--mainColor);
        text-transform: uppercase;
    }
    h2 {
        max-width: 615px;
        margin: {
            bottom: 0;
            left: auto;
            right: auto;
        };
        font: {
            size: 37px;
            weight: 700;
        };
    }
    p {
        max-width: 615px;
        margin: {
            left: auto;
            right: auto;
            top: 12px;
        };
    }
    .newsletter-form {
        position: relative;
        max-width: 650px;
        margin: {
            top: 30px;
            left: auto;
            right: auto;
        };
        .input-newsletter {
            background-color: #ebebeb;
            color: var(--blackColor);
            border-radius: 5px;
            display: block;
            border: none;
            height: 50px;
            width: 100%;
            padding: {
                left: 18px;
                top: 2px;
            };
            font: {
                size: 15px;
                weight: 400;
            };
            &::placeholder {
                color: #999999;
                transition: var(--transition);
            }
            &:focus {
                &::placeholder {
                    color: transparent;
                }
            }
        }
        .default-btn {
            top: 0;
            right: 0;
            height: 50px;
            position: absolute;
            border-radius: 0 5px 5px 0;
        }
    }
}

@media only screen and (max-width: 767px) {

    .subscribe-content {
        max-width: 100%;

        .sub-title {
            font-size: 13.5px;
        }
        h2 {
            max-width: 100%;
            font-size: 27px;
        }
        p {
            max-width: 100%;
        }
        .newsletter-form {
            max-width: 100%;
            margin-top: 25px;

            .input-newsletter {
                padding-left: 15px;
                font-size: 13px;
            }
            .default-btn {
                position: relative;
                border-radius: 5px;
                margin-top: 15px;
                height: auto;
            }
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    .subscribe-content {
        .newsletter-form {
            .default-btn {
                border-radius: 0 5px 5px 0;
                position: absolute;
                margin-top: 0;
                height: 50px;
            }
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 1200px) and (max-width: 1275px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

@media only screen and (min-width: 1550px) {}
