.information-image {
    padding-right: 15px;
}
.information-content {
    padding-left: 15px;

    .sub-title {
        display: block;
        text-transform: uppercase;
        color: var(--mainColor);
        margin-bottom: 10px;
        font: {
            weight: 500;
        };
    }
    h2 {
        margin-bottom: 40px;
        font: {
            size: 37px;
            weight: 700;
        };
    }
    .apply-details {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            position: relative;
            margin-top: 30px;
            padding-left: 108px;

            .icon {
                width: 85px;
                height: 85px;
                line-height: 84px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: var(--mainColor);
                color: var(--whiteColor);
                font-size: 40px;
                text-align: center;
                transition: var(--transition);
            }
            h3 {
                margin-bottom: 10px;
                font: {
                    size: 20px;
                    weight: 700;
                };
            }
            &:hover {
                .icon {
                    background-color: var(--blackColor);
                    color: var(--whiteColor);
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .information-image {
        padding-right: 0;
    }
    .information-content {
        text-align: center;
        padding-left: 0;
        margin-top: 35px;

        .sub-title {
            font-size: 13.5px;
        }
        h2 {
            font-size: 27px;
            margin-bottom: 25px;
        }
        .apply-details {
            li {
                padding-left: 0;
                margin-top: 25px;

                .icon {
                    position: relative;
                    top: 0;
                    width: 65px;
                    height: 65px;
                    line-height: 65px;
                    transform: unset;
                    left: 0;
                    font-size: 30px;
                    margin: {
                        left: auto;
                        right: auto;
                        bottom: 20px;
                    };
                }
                h3 {
                    font-size: 17px;
                }
            }
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .information-image {
        padding-right: 0;
    }
    .information-content {
        padding-left: 0;
        margin-top: 40px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 1200px) and (max-width: 1275px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

@media only screen and (min-width: 1550px) {}