.courses-area {
    position: relative;
    z-index: 1;
}
.courses-box {
    margin-bottom: 30px;
    position: relative;
    border-radius: 5px;
    background-color: var(--whiteColor);
    box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.2);

    .courses-image {
        border-radius: 5px 5px 0 0;
        position: relative;
        z-index: 1;

        .image {
            border-radius: 5px 5px 0 0;

            img {
                border-radius: 5px 5px 0 0;
            }
        }
        .fav {
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 20px;
            color: var(--whiteColor);
            font-size: 30px;
            line-height: 1;

            &:hover {
                color: var(--mainColor);
            }
        }
        .price {
            display: inline-block;
            background-color: var(--mainColor);
            color: var(--whiteColor);
            width: 65px;
            height: 65px;
            border-radius: 50%;
            position: absolute;
            right: 20px;
            bottom: -32.5px;
            border: 4px solid #f8e8e9;
            text-align: center;
            line-height: 60px;
            font: {
                size: 22px;
                weight: 600;
            };
        }
    }
    .courses-content {
        border-radius: 0 0 5px 5px;
        padding: 30px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        .course-author {
            margin-bottom: 15px;

            img {
                width: 35px;
                height: 35px;
                margin-right: 10px;
            }
            span {
                color: var(--mainColor);
            }
        }
        h3 {
            margin-bottom: 12px;
            line-height: 1.4;
            font: {
                size: 22px;
                weight: 700;
            };
            a {
                display: inline-block;
            }
        }
        .courses-box-footer {
            list-style-type: none;
            padding-left: 0;
            margin: {
                bottom: 0;
                left: -7px;
                right: -7px;
                top: 20px;
            };
            li {
                color: var(--paragraphColor);
                font-size: 15px;
                position: relative;
                padding: {
                    left: 26px;
                    right: 7px;
                };
                i {
                    color: var(--mainColor);
                    position: absolute;
                    left: 7px;
                    top: 3px;
                    line-height: 1;

                    &.flaticon-people {
                        font-size: 18px;
                        left: 3px;
                    }
                }
            }
        }
        &::before {
            content: '';
            position: absolute;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
            width: 45px;
            height: 45px;
            border-radius: 50%;
            z-index: -1;
            background-color: var(--mainColor);
        }
    }
}
.courses-info {
    text-align: center;
    margin-top: 20px;

    p {
        max-width: 630px;
        margin: {
            left: auto;
            right: auto;
            bottom: 0;
        };
        a {
            color: var(--mainColor);
            font-weight: 600;

            &:hover {
                text-decoration: underline;
                color: var(--blackColor);
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .courses-info {
        margin-top: 0;

        p {
            max-width: 100%;
        }
    }
    .courses-box {
        .courses-image {
            .price {
                width: 54px;
                height: 54px;
                right: 15px;
                bottom: -27px;
                border-width: 2px;
                line-height: 51px;
                font-size: 18px;
            }
        }
        .courses-content {
            padding: 25px 15px 20px;
            
            &::before {
                display: none;
            }
            h3 {
                font-size: 18px;
            }
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .courses-box {
        .courses-content {
            h3 {
                font-size: 21px;
            }
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .courses-box {
        .courses-content {
            padding: 25px 20px;

            &::before {
                display: none;
            }
            h3 {
                font-size: 20px;
            }
        }
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1275px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

@media only screen and (min-width: 1550px) {}