<app-header-style></app-header-style>

<app-home-main-banner></app-home-main-banner>

<app-language-category></app-language-category>

<app-why-choose-us></app-why-choose-us>

<app-home-courses></app-home-courses>

<app-funfacts-style-two></app-funfacts-style-two>

<app-students-feedback></app-students-feedback>

<app-how-to-apply></app-how-to-apply>

<app-home-events></app-home-events>

<app-free-trial></app-free-trial>

<app-home-blog></app-home-blog>

<div class="partner-area bg-color ptb-100">
    <div class="container">
        <app-partner-style-one></app-partner-style-one>
    </div>
</div>

<app-language-subscribe></app-language-subscribe>
