.events-details-header {
    margin-bottom: 25px;

    .back-all-events {
        display: inline-block;
        color: var(--paragraphColor);
        text-transform: uppercase;
        margin-bottom: 13px;
        position: relative;
        padding-left: 23px;
        font: {
            weight: 600;
            size: 14px;
        };
        i {
            font-size: 20px;
            position: absolute;
            left: 0;
            top: 0;
        }
        &:hover, &:focus {
            color: var(--mainColor);
        }
    }
    h3 {
        margin-bottom: 13px;
        font: {
            size: 25px;
            weight: 600;
        };
    }
    .events-meta {
        margin-top: 20px;

        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                margin-right: 20px;
                position: relative;
                display: inline-block;
                border-right: 1px solid #eeeeee;
                font: {
                    weight: 500;
                    size: 16px;
                };
                padding: {
                    right: 20px;
                    left: 37px;
                };
                i {
                    font-size: 25px;
                    color: #cfcfcf;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                span {
                    display: block;
                    color: var(--mainColor);
                    text-transform: uppercase;
                    margin-bottom: 1px;
                    font: {
                        size: 14px;
                        weight: 600;
                    };
                }
                a {
                    display: inline-block;
                    color: var(--blackColor);

                    &:hover, &:focus {
                        color: var(--mainColor);
                    }
                }
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border-right: none;
                }
            }
        }
    }
}
.events-details {
    .events-details-image {
        margin-bottom: 25px;
    }
    .events-info-links {
        margin-top: 25px;

        a {
            display: inline-block;
            background-color: var(--mainColor);
            color: var(--whiteColor);
            border-radius: 5px;
            padding: 5px 15px 6px;
            margin-right: 10px;
            border: 1px solid var(--mainColor);
            font: {
                size: var(--fontSize);
                weight: 500;
            };
            &:hover, &:focus {
                color: var(--mainColor);
                background-color: transparent;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    
    .events-details-header {
        .back-all-events {
            font-size: 13px;
            margin-bottom: 12px;

            i {
                top: -1px;
            }
        }
        h3 {
            font-size: 20px;
            margin-bottom: 0;
        }
        .events-meta {
            margin-top: 0;
            
            ul {
                li {
                    font-size: 14px;
                    margin: {
                        top: 15px;
                        right: 15px;
                    };
                    padding: {
                        right: 15px;
                        left: 0;
                    };
                    span {
                        font-size: 13px;
                    }
                    i {
                        display: none;
                    }
                }
            }
        }
    }
    .events-details {
        .events-info-links {
            a {
                padding: 5px 10px 6px;
                font-size: 14px;
            }
        }
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
@media only screen and (min-width: 1200px) and (max-width: 1275px) {

}